In [61]:
import json
import numpy as np                                
import pandas as pd 
import sys                                        
import math                                       
import json
import boto3

In [114]:
df = pd.read_json('conala-train.json')

In [115]:
df.isnull().sum()

intent               0
question_id          0
rewritten_intent    79
snippet              0
dtype: int64

In [118]:
df1 = df[df.isnull().any(axis=1)]
df1.loc[:,'rewritten_intent'] = df1['intent']

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [119]:
df.update(df1)

In [121]:
df

,intent,question_id,rewritten_intent,snippet
0,How to convert a list of multiple integers int...,41067960.0,Concatenate elements of a list 'x' of multiple...,"sum(d * 10 ** i for i, d in enumerate(x[::-1]))"
1,How to convert a list of multiple integers int...,41067960.0,convert a list of integers into a single integer,"r = int(''.join(map(str, x)))"
2,how to convert a datetime string back to datet...,4170655.0,convert a DateTime string back to a DateTime o...,datetime.strptime('2010-11-13 10:33:54.227806'...
3,Averaging the values in a dictionary based on ...,29565452.0,get the average of a list values for each key ...,"[(i, sum(j) / len(j)) for i, j in list(d.items..."
4,zip lists in python,13704860.0,"zip two lists `[1, 2]` and `[3, 4]` into a lis...","zip([1, 2], [3, 4])"
5,Prepend the same string to all items in a list,13331419.0,prepend string 'hello' to all items in list 'a',['hello{0}'.format(i) for i in a]
6,regex for repeating words in a string in Python,25474338.0,regex for repeating words in a string `s`,re.sub('(?<!\\S)((\\S+)(?:\\s+\\2))(?:\\s+\\2)...
7,Normalizing a pandas DataFrame by row,18594469.0,normalize a pandas dataframe `df` by row,"df.div(df.sum(axis=1), axis=0)"
8,swap values in a tuple/list inside a list in p...,13384841.0,swap values in a tuple/list inside a list `myl...,"map(lambda t: (t[1], t[0]), mylist)"
9,swap values in a tuple/list inside a list in p...,13384841.0,Swap values in a tuple/list in list `mylist`,"[(t[1], t[0]) for t in mylist]"
10,Find next sibling element in Python Selenium?,23887592.0,Find next sibling element in Python Selenium?,"driver.find_element_by_xpath(""//p[@id, 'one']/..."
11,Python splitting string by parentheses,17352321.0,find all occurrences of the pattern '\\[[^\\]]...,"re.findall('\\[[^\\]]*\\]|\\([^\\)]*\\)|""[^""]*..."
12,What's the most memory efficient way to genera...,10115967.0,"generate the combinations of 3 from a set `{1,...","print(list(itertools.combinations({1, 2, 3, 4}..."
13,Add Multiple Columns to Pandas Dataframe from ...,30026815.0,"add multiple columns `hour`, `weekday`, `weekn...","df[['hour', 'weekday', 'weeknum']] = df.apply(..."
14,BeautifulSoup - search by text inside a tag,31958637.0,BeautifulSoup search string 'Elsie' inside tag...,"soup.find_all('a', string='Elsie')"
15,"How do I turn a python datetime into a string,...",2158347.0,Convert a datetime object `my_datetime` into r...,"my_datetime.strftime('%B %d, %Y')"
16,Parse string to int when string contains a num...,17888152.0,parse string `s` to int when string contains a...,int(''.join(c for c in s if c.isdigit()))
17,adding new key inside a new key and assigning ...,37855490.0,add dictionary `{'class': {'section': 5}}` to ...,dic['Test'].update({'class': {'section': 5}})
18,Transforming the string representation of a di...,4127344.0,transforming the string `s` into dictionary,"dict(map(int, x.split(':')) for x in s.split('..."
19,How to select element with Selenium Python xpath,19035186.0,How to select element with Selenium Python xpath,"driver.find_element_by_xpath(""//div[@id='a']//..."
20,Find matching rows in 2 dimensional numpy array,25823608.0,"find rows matching `(0,1)` in a 2 dimensional ...","np.where((vals == (0, 1)).all(axis=1))"
21,How to delete a record in Django models?,3805958.0,How to delete a record in Django models?,SomeModel.objects.filter(id=id).delete()
22,python convert list to dictionary,6900955.0,build a dictionary containing the conversion o...,"dict([['two', 2], ['one', 1]])"
23,python convert list to dictionary,6900955.0,convert list `l` to dictionary having each two...,"dict(zip(l[::2], l[1::2]))"
24,how to set global const variables in python,18224991.0,assign float 9.8 to variable `GRAVITY`,GRAVITY = 9.8
25,How to use regular expression to separate numb...,15103484.0,"separate numbers from characters in string ""30...","re.findall('(([0-9]+)([A-Z]))', '20M10000N80M')"
26,How to use regular expression to separate numb...,15103484.0,separate numbers and characters in string '20M...,"re.findall('([0-9]+|[A-Z])', '20M10000N80M')"
27,How to use regular expression to separate numb...,15103484.0,separate numbers and characters in string '20M...,"re.findall('([0-9]+)([A-Z])', '20M10000N80M')"
28,"Extracting words from a string, removing punct...",7633274.0,Get a list of words from a string `Hello worl...,"re.compile('\\w+').findall('Hello world, my na..."
29,Convert string into datetime.time object,14295673.0,Convert string '03:55' into datetime.time object,"datetime.datetime.strptime('03:55', '%H:%M').t..."
...,...,...,...,...
2349,How to truncate a string using str.format in P...,24076297.0,display first 5 characters of string 'aaabbbccc',"""""""{:.5}"""""".format('aaabbbccc')"
2350,How do I convert a string of hexadecimal value...,14961562.0,unpack hexadecimal string `s` to a list of int...,"struct.unpack('11B', s)"
2351,Finding the index of an item given a list cont...,176918.0,finding the index of an item 'foo' given a lis...,"[i for i, j in enumerate(['foo', 'bar', 'baz']..."
2352,How to generate all permutations of a list in ...,104420.0,"generate all permutations of list `[1, 2, 3]` ...","print(list(itertools.product([1, 2, 3], [4, 5,..."
2353,How to generate all permutations of a list in ...,104420.0,"generate all permutations of a list `[1, 2, 3]`","itertools.permutations([1, 2, 3])"
2354,Remove punctuation from Unicode formatted strings,11066400.0,substitute occurrences of unicode regex patter...,"return re.sub('\\p{P}+', '', text)"
2355,manually throw/raise an exception,2052390.0,manually throw/raise a `ValueError` exception ...,raise ValueError('A very specific bad thing ha...
2356,Manually raising (throwing) an exception,2052390.0,"throw an exception ""I know Python!""",raise Exception('I know Python!')
2357,Manually raising (throwing) an exception,2052390.0,"Manually throw an exception ""I know python!""",raise Exception('I know python!')
2358,Manually raising (throwing) an exception,2052390.0,throw a ValueError with message 'represents a ...,"raise ValueError('represents a hidden bug, do ..."
2359,Manually raising (throwing) an exception,2052390.0,throw an Exception with message 'This is the e...,raise Exception('This is the exception you exp...
2360,Manually raising (throwing) an exception,2052390.0,throw a value error with message 'A very speci...,raise ValueError('A very specific bad thing ha...
2361,Manually raising (throwing) an exception,2052390.0,throw a runtime error with message 'specific m...,raise RuntimeError('specific message')
2362,Manually raising (throwing) an exception,2052390.0,"throw an assertion error with message ""Unexpec...","raise AssertionError(""Unexpected value of 'dis..."
2363,Clear text from textarea with selenium,7732125.0,if Selenium textarea element `foo` is not empt...,driver.find_element_by_id('foo').clear()
2364,Clear text from textarea with selenium,7732125.0,clear text from textarea 'foo' with selenium,driver.find_element_by_id('foo').clear()
2365,Convert an IP string to a number and vice versa,9590965.0,convert a number 2130706433 to ip string,"socket.inet_ntoa(struct.pack('!L', 2130706433))"
2366,How to rearrange Pandas column sequence?,12329853.0,"Rearrange the columns 'a','b','x','y' of panda...","df = df[['x', 'y', 'a', 'b']]"
2367,How to call Base Class's __init__ method from ...,19205916.0,call base class's __init__ method from the chi...,"super(ChildClass, self).__init__(*args, **kwargs)"
2368,Sum of all values in a Python dict,4880960.0,sum of all values in a python dict `d`,sum(d.values())
2369,Sum of all values in a Python dict,4880960.0,Sum of all values in a Python dict,sum(d.values())
2370,Convert Python dictionary to JSON array,14661051.0,convert python dictionary `your_data` to json ...,"json.dumps(your_data, ensure_ascii=False)"
2371,numpy array assignment using slicing,23638638.0,assign an array of floats in range from 0 to 1...,"values = np.array([i for i in range(100)], dty..."
2372,Sort a list of dictionary provided an order,35078261.0,sort a list of dictionaries `list_of_dct` by v...,"sorted(list_of_dct, key=lambda x: order.index(..."
2373,how to change the case of first letter of a st...,4223923.0,change the case of the first letter in string `s`,return s[0].upper() + s[1:]
2374,"how to change [1,2,3,4] to '1234' using python",2597932.0,"join list of numbers `[1,2,3,4] ` to string of...",""""""""""""".join([1, 2, 3, 4])"
2375,Delete every non utf-8 symbols froms string,26541968.0,delete every non `utf-8` characters from a str...,"line = line.decode('utf-8', 'ignore').encode('..."
2376,How to execute a command in the terminal from ...,33065588.0,execute a command `command ` in the terminal f...,os.system(command)
2377,Python MySQL Parameterized Queries,775296.0,MySQL execute query 'SELECT * FROM foo WHERE b...,c.execute('SELECT * FROM foo WHERE bar = %s AN...
2378,Convert a string to datetime object in python,5868374.0,Parse string `datestr` into a datetime object ...,"dateobj = datetime.datetime.strptime(datestr, ..."

In [122]:
df.isnull().sum()

intent              0
question_id         0
rewritten_intent    0
snippet             0
dtype: int64

In [146]:
x = df['rewritten_intent']
y = df['snippet']
x = pd.DataFrame(x)
y = pd.DataFrame(y)

In [152]:
x.columns

Index(['rewritten_intent'], dtype='object')

In [130]:
from nltk.corpus import stopwords
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ec2-user/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [167]:
stop = set(stopwords.words('english'))
x1 = x['rewritten_intent'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
#x_train.append([i for i in sentence.lower().split() if i not in stop])

In [168]:
pd.DataFrame(x1)

                                       rewritten_intent
0     Concatenate elements list 'x' multiple integer...
1                  convert list integers single integer
2     convert DateTime string back DateTime object f...
3           get average list values key dictionary `d`)
4     zip two lists `[1, 2]` `[3, 4]` list two tuple...
5                 prepend string 'hello' items list 'a'
6                      regex repeating words string `s`
7                   normalize pandas dataframe `df` row
8           swap values tuple/list inside list `mylist`
9                  Swap values tuple/list list `mylist`
10           Find next sibling element Python Selenium?
11    find occurrences pattern '\\[[^\\]]*\\]|\\([^\...
12           generate combinations 3 set `{1, 2, 3, 4}`
13    add multiple columns `hour`, `weekday`, `weekn...
14    BeautifulSoup search string 'Elsie' inside tag...
15    Convert datetime object `my_datetime` readable...
16          parse string `s` int string contains number
17    add dictionary `{'class': {'section': 5}}` key...
18                   transforming string `s` dictionary
19             How select element Selenium Python xpath
20    find rows matching `(0,1)` 2 dimensional numpy...
21                     How delete record Django models?
22    build dictionary containing conversion list li...
23    convert list `l` dictionary two adjacent eleme...
24                  assign float 9.8 variable `GRAVITY`
25     separate numbers characters string "30m1000n20m"
26    separate numbers characters string '20M10000N80M'
27    separate numbers characters string '20M10000N80M'
28    Get list words string `Hello world, name is......
29          Convert string '03:55' datetime.time object
...                                                 ...
2349      display first 5 characters string 'aaabbbccc'
2350  unpack hexadecimal string `s` list integer values
2351  finding index item 'foo' given list `['foo', '...
2352  generate permutations list `[1, 2, 3]` list `[...
2353             generate permutations list `[1, 2, 3]`
2354  substitute occurrences unicode regex pattern u...
2355  manually throw/raise `ValueError` exception me...
2356                   throw exception "I know Python!"
2357          Manually throw exception "I know python!"
2358  throw ValueError message 'represents hidden bu...
2359  throw Exception message 'This exception expect...
2360  throw value error message 'A specific bad thin...
2361     throw runtime error message 'specific message'
2362  throw assertion error message "Unexpected valu...
2363  Selenium textarea element `foo` empty, clear f...
2364                 clear text textarea 'foo' selenium
2365                convert number 2130706433 ip string
2366  Rearrange columns 'a','b','x','y' pandas DataF...
2367  call base class's __init__ method child class ...
2368                         sum values python dict `d`
2369                             Sum values Python dict
2370   convert python dictionary `your_data` json array
2371  assign array floats range 0 100 variable `values`
2372  sort list dictionaries `list_of_dct` values or...
2373                change case first letter string `s`
2374     join list numbers `[1,2,3,4] ` string numbers.
2375  delete every non `utf-8` characters string `line`
2376  execute command `command ` terminal python script
2377  MySQL execute query 'SELECT * FROM foo WHERE b...
2378  Parse string `datestr` datetime object using f...

[2379 rows x 1 columns]